<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 	<key>CLIENT_ID</key>
 	<string>310807887827-e8l0og261pnmfp0uo2l62r45dtcu4tih.apps.googleusercontent.com</string>
 	<key>REVERSED_CLIENT_ID</key>
 	<string>com.googleusercontent.apps.310807887827-e8l0og261pnmfp0uo2l62r45dtcu4tih</string>
 	<key>API_KEY</key>
 	<string>AIzaSyDt5GjkQmlnRCts-642_mufXtiGcvlpcyU</string>
 	<key>GCM_SENDER_ID</key>
 	<string>310807887827</string>
 	<key>PLIST_VERSION</key>
 	<string>1</string>
 	<key>BUNDLE_ID</key>
 	<string>com.example.movie.prod</string>
 	<key>PROJECT_ID</key>
 	<string>star-movie-app-10102</string>
 	<key>STORAGE_BUCKET</key>
 	<string>star-movie-app-10102.appspot.com</string>
 	<key>IS_ADS_ENABLED</key>
 	<false></false>
 	<key>IS_ANALYTICS_ENABLED</key>
 	<false></false>
 	<key>IS_APPINVITE_ENABLED</key>
 	<true></true>
 	<key>IS_GCM_ENABLED</key>
 	<true></true>
 	<key>IS_SIGNIN_ENABLED</key>
 	<true></true>
 	<key>GOOGLE_APP_ID</key>
 	<string>1:310807887827:ios:f3c7e3cb9147ced2e1f926</string>
 </dict>
 </plist>